*.gem
.bundle
.DS_Store
.sass-cache
_site
Gemfile.lock
_posts/2017-03-05-pagination-post_old.md
_posts/2017-03-06-the-mystery-of-the-filler-post_old.md
_posts/2017-03-07-the-case-of-the-missing-post_old.md
_posts/2017-03-10-welcome-to-jekyll_old.md
_posts/2017-03-16-example-content_old.md
_posts/2017-03-29-introducing-tale_old.md
_posts/2019-10-10-first-post.md
