# Site settings
title:          Hyoyoung Kim
description:    "XXX"
url:            "https://hyngkm.github.io"

# Google Analytics
google_analytics: UA-127451910-1

# Author
author:
  name:         Hyoyoung Kim
  url:          https://chester.how
  email:        hyoyoung.j.kim@gmail.com

# Build settings
markdown:       kramdown
include:
  - _pages

# Assets
sass:
  sass_dir:     _sass
  style:        compressed

# Gems
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-seo-tag
  # - jemoji #Uncomment this to allow emoji in your post

# Permalinks
permalink:      /:year-:month-:day/:title
paginate:       5
