# Site settings
title:          Ramansh Sharma
description:    "Ram's blog"
url:            "https://chesterhow.github.io"

# Google Analytics
google_analytics: UA-154633056-1

# Author
author:
  name:         Ramansh Sharma
  url:          https://ramanshsharma2806.github.io/
  email:        sharmar@bxscience.edu

# Build settings
markdown:       kramdown
include:
  - _pages

# Assets
sass:
  sass_dir:     _sass
  style:        compressed

# Gems
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-seo-tag
  # - jemoji #Uncomment this to allow emoji in your post

# Permalinks
permalink:      /:year-:month-:day/:title
paginate:       5

# Excludes
exclude: [ Gemfile, Gemfile.lock, tale.gemspec ]

# Disqus (Set to your disqus id)
disqus:         ramanshsharma
