---
layout: default
title: Home
---

<div>
  {% for post in paginator.posts %}
    <div class="post">
      <time class="post-time" datetime="{{ post.date }}">{{ post.date | date_to_string | upcase }}</time>
      <h1 class="post-title"><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></h1>

      {{ post.content | truncatewords: 50 }}

    </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.url }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.url }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
