---
layout: default
title: Index
---
<!--
<section class="explanation">
    <h1 class="intro">RIDI</h1>
    <h2 class="intro">1등 전자책 서점</h2>
    <p class="body">
        RIDI는 전자책 서비스 리디북스를 운영합니다. 온라인 서점에서 구매한 도서를 무료로 제공되는 전자책 전용 뷰어를 통해 읽을 수 있습니다. Android, iOS, Windows, Mac OS에서 뷰어를 이용할 수 있습니다. 2017년 5월 기준, 1억 7500만권의 누적 전자책 다운로드 수를 돌파하였고, 제공하는 도서수가 78만권에 이릅니다.
    </p>
</section>

<section class="explanation">
    <h1 class="intro">Projects at RIDI</h1>
</section>
-->

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <!--
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        -->
        <div class="catalogue-type">{{ post.type }}</div>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <p class="body">
          {{ post.content | truncatewords: 30 | strip_html }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.url }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.url }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
