<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
      <form action="/search">
        <div class="tipue_search_left">
          <img src="/assets/tipuesearch/search.png" class="tipue_search_icon" />
        </div>
        <div class="tipue_search_right">
          <input
            type="text"
            name="q"
            id="tipue_search_input"
            pattern=".{1,}"
            title="At least 1 characters"
            required
          />
        </div>
        <div style="clear: both"></div>
      </form>
    </ul>
  </div>
</nav>
