<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li {% if page.url == '/' %}class="active"{% endif %}><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
      <li {% if page.url == '/about/' %}class="active"{% endif %}><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
      <li {% if page.url == '/blog/' %}class="active"{% endif %}><a href="{{ '/blog' | prepend: site.baseurl }}/">Blog</a></li>
      <li {% if page.url == '/category/' %}class="active"{% endif %}><a href="{{ '/category' | prepend: site.baseurl }}/">Categories</a></li>
    </ul>
  </div>
</nav>
