<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>

    <ul>
      {% for page in site.pages %}
        {% unless page.name == '404.md' %}
          {% if page.title %}
            <li class='nav-item' role='presentation'>
              <a class='nav-link' href='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a>
            </li>
          {% endif %}
        {% endunless %}
      {% endfor %}

      <li class='nav-item' role='presentation'>
        <a class='nav-link' href='{{ site.baseurl }}/feed.xml' target='_blank'>Feed</a>
      </li>
    </ul>
  </div>
</nav>
