<section class="resume">
    <p class="second_label">I've worked for</p>
    <ul>
        {% for work in site.data.works %}
        <li class="workplace">
            <a href="ridi/">
                <p class="workplace_name">
                    {{ work.name }}
                </p>
                <div class="work_info">
                    <p>
                    {{ work.info }}
                    </p>
                    <p class="work_date">
                        {{ work.date }}
                    </p>
                </div>
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.cls-1{fill:none;}</style></defs><title>Artboard 1</title><path d="M7.2,17.9l6.1-6.1L7.2,5.6,9,3.8l8,8-8,8Z"/><path class="cls-1" d="M.1-.2h24v24H.1Z"/></svg>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>