<div class="loading-animation">
<section class="resume">

    <p class="second-label">

    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 62 62" style="enable-background:new 0 0 62 62;" xml:space="preserve">
    <path d="M46,24h-8v-3c0-1.7-1.3-3-3-3h-8c-1.7,0-3,1.3-3,3v3h-8c-1.7,0-3,1.3-3,3v14c0,1.7,1.3,3,3,3h30c1.7,0,3-1.3,3-3V27
        C49,25.3,47.7,24,46,24z M27,22c0-0.6,0.4-1,1-1h6c0.6,0,1,0.4,1,1v2h-8V22z M38,27v14H24V27H38z M16,40V28c0-0.6,0.4-1,1-1h4v14h-4
        C16.4,41,16,40.6,16,40z M46,40c0,0.6-0.4,1-1,1h-4V27h4c0.6,0,1,0.4,1,1V40z"/>
    </svg>
        I've worked for
    </p>
    <ul>
        {% assign sorted = site.pages | sort: 'order' %}
        {% for page in sorted %}
            {% if page.work == true %}

                {% include project-list.html %}
        
        {% endif %}
        {% endfor %}
    </ul>
</section>

<section class="resume">
    <p class="second-label">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 62 62" style="enable-background:new 0 0 62 62;" xml:space="preserve">
<g>
	<rect x="21" y="35" width="14" height="3"/>
	<path d="M44,24h-9.5l-1.8-4.5c-0.4-0.9-1.3-1.5-2.3-1.5H18c-1.7,0-3,1.3-3,3v6v8v6c0,1.7,1.3,3,3,3h26c1.7,0,3-1.3,3-3V27
		C47,25.3,45.7,24,44,24z M18,21h12l1.2,3H18V21z M44,41H18v-6v-8l0,0h16.5l0,0H44V41z"/>
</g>
</svg>

        Side Projects
    </p>
    <ul>
        {% assign sorted = site.pages | sort: 'order' %}
        {% for page in sorted %}
            {% if page.side-projects == true %}
        
                {% include project-list.html %}
        
            {% endif %}
        {% endfor %}
    </ul>
</section>

<section class="skill">
    <p class="second-label">
        Available My Skill & Role
    </p>
    <ul>
        {% for skill-role in site.data.skill-roles %}
            <li class="skill_name">
                {{ skill-role.name }}
            </li>
        {% endfor %}
    </ul>
</section>
</div>    