* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
}

html {
  font-family: $serif-primary;
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif;
  line-height: normal;
}

a {
  color: $blue;
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

// All personal styles

.dummy-anchor {
  color: $blue;
  cursor: pointer;
}

.profile-img {
  border-radius: 200px;
  margin: 0 auto;
  margin-top: 40px;
  border: 5px solid white;
  box-shadow: 0 5px 15px -10px black;
}

.social-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.social-links>.link {
  margin: 0;
  text-decoration: none;
  position: relative;
  display: inline-block;
  height: 35px;
  width: 35px;
  text-align: center;
}

.social-links>.link:hover>.icon {
  fill: indigo
}

.social-links>.link:hover:before {
  opacity: 1;
  display: inline-block;
  transform: translate3d(0, 0, 0);
  white-space: nowrap
}

.social-links>.link:before {
  content: attr(data-title);
  display: none;
  position: absolute;
  bottom: -34px;
  left: -6px;
  margin: 0 auto;
  font-size: 13px;
  padding: 3px 10px;
  background: #222;
  color: #fff;
  border-radius: 2px;
  height: 22px;
  line-height: 22px;
  opacity: 0;
  transition: opacity 150ms linear,transform 150ms linear,-webkit-transform 150ms linear;
  transform: translate3d(0, -8px, 0);
  z-index: 99
}

.social-links>.link:after {
  content: "";
  position: absolute;
  top: 35px;
  left: 13px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #222;
  opacity: 0;
  transition: opacity 150ms linear,transform 150ms linear,-webkit-transform 150ms linear;
  transform: translate3d(0, -8px, 0);
  z-index: 100
}

.social-links>.link:hover:after {
  opacity: 1;
  transform: translate3d(0, 0, 0)
}

.social-links>.icon {
  transition: all ease-in-out .2s
}
