.post {
  padding: 3rem 0;
  font-size: 18px;
  line-height: 20px;
  @media (min-width: 600px) {
    font-size: 19px;
  }

  &-info {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 25px;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 2.5rem;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 5rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

  .footnotes {
    margin-top: 30px;
    font-size: 14px;
  }
}

.tags {
  a {
    display: inline-block;
    padding: quarter($base-spacing-unit) $base-spacing-unit;
    margin: 0 $base-spacing-unit quarter($base-spacing-unit) 0;

    font-size: $font-size-small;
    font-family: $font-base;
    line-height: $line-height-medium;

    background-color: $bg-color-gray;
    transition: $global-transition;

    @include attention() {
      text-decoration: none;
      background-color: $bg-color-gray;
    }
  }

  @include mq($until: tablet) {
    margin-bottom: $line-height-medium - half(quarter($line-height-medium));
  }
}