.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    display: block;
    padding: 20px 0;

    &:last-child {
        border: 0;
        margin-bottom: 40px;
    }
  }
    
    &-info {
        display: inline-block;
    }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $san-serif;
    font-size: 28px;
    font-weight: 700;
    margin: 16px 0 2px 0;
    line-height: 1.5;
  }
    
    &-type {
        color: $default-tint;
        font-size: 18px;
        font-family: $source;
        font-weight: 600;
        margin-top: 20px;
    }
    
    p {
        font-size: 18px;
        color: $grey-0;
        line-height: 1.75;
        margin: 0 0 10px 0;
        
        @media (max-width: $break-small) {
            font-size: 16px;
        }
        
    }

}
