.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    display: inline-block;
    padding: 20px 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
        border: 0;
        margin-bottom: 40px;
    }
  }

  &-time {
    color: $default-tint;
    font-family: $source;
    letter-spacing: .5px;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $serif;
    font-size: 28px;
    font-weight: 700;
    margin: 16px 0;
    line-height: 1.5;
  }
    
    &-type {
        color: $default-tint;
        font-size: 18px;
        font-family: $source;
        font-weight: 600;
        margin-top: 20px;
    }
    
    p {
        font-size: 18px;
        color: $grey-0;
        line-height: 1.75;
        margin: 20px 0;       
    }

}
