.preview {
  margin-bottom: 3rem;
  position: relative;
}

.post-link {
  text-align: right;

  a {
    @include transition (all .3s ease-out);
    color: $default-tint;
    display: inline-block;
    font-family: $sans-font;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .3px;

    &:hover,
    &:focus {
      color: $default-color;
    }
  }
}

.pagination {
  font-family: $serif-font;
  position: relative;
  text-align: center;

  span {
    color: $default-shade;
    font-size: 1.1rem;
  }

  a {
    @include transition(all .3s ease-out);
    color: $default-color;
    font-size: 1.3rem;
    position: absolute;

    &:hover,
    &:focus {
      color: $default-tint;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
