.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

header {
  margin: 1.5rem 0 0;
  text-align: center;

  * {
    margin: 0;
  }

  h2 {
    @include transition(all .3s ease-out);
    color: $default-color;
    display: inline-block;
    font-size: 2.8rem;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  h4 {
    color: $default-tint;
    font-family: $serif-font;
    font-weight: 400;
  }
}

footer {
  font-family: $sans-font;
  margin: 1.5rem 0 3rem;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}
