.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

header {
  padding: 2rem 0 0;
  text-align: center;

  * {
    margin: 0;
  }

  h2 {
    @include transition(all .3s ease-out);
    color: $default-color;
    display: inline-block;
    font-size: 2.8rem;
    font-weight: 400;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  h4 {
    color: $default-tint;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .1rem;
  }

  .line {
    border-top: 1px solid $default-color;
    display: block;
    margin: 0 auto .8rem;
    width: 1rem;
  }

  .nav-container {
    border-bottom: .5px solid $grey-2;
    border-top: .5px solid $grey-2;
    margin-top: 1.5rem;
  }

  nav {
    display: flex;
    justify-content: space-around;
    margin: .5rem auto;
    max-width: 350px;

    a {
      color: $default-color;
      font-family: $palatino;
    }
  }
}

footer {
  font-family: $palatino;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}
