.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
footer>.footer_wrap,
.nav-container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav {
    overflow: auto;
    padding: 24px 0;

  &-container {
      margin: 0 auto;
      padding-bottom: 50px;
      position: relative;
  }
}

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  li {
      font-family: $source;
      display: inline-block;
      padding: 0 2rem 0 0;
      
      &:last-child {
          padding-right: 0;
      }
  }

.active {
    padding-bottom: 6px;
    border-bottom: 2px solid #000000;
    font-weight: 700;
}

  a {
    color: $default-color;
  }


footer {
    font-family: $source;
    padding: 36px 0 46px 0;
    background-color: $grey-3;
    color: $default-tint;
    border-top: 1px solid $grey-2;
    border-bottom: 1px solid $grey-2;
    
    .footer_wrap {
        position: relative;

        .information {
            display: inline-block;

            .myname {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 4px;
}
            .email {
                font-size: 16px;
            }
            .accounts {
                margin-top: 36px;
                a {
                    margin-right: 24px;
                    svg {
                        fill: $default-tint;
                        width: 20px;
                    }
                }
            }
        }
        .copyright {
            float: right;
            position: absolute;
            right: 0;
            bottom: 2px;

            @media (max-width: $break-small) {
                float: none;
                position: static;
                margin-top: 6px;
            }
            span {
                font-size: 16px;
            }
        }
    }
}
