.post {
  padding-bottom: 64px;

  &-info {
    color: $default-tint;
    font-family: $source;
    letter-spacing: .5px;

    span {
      font-style: italic;
    }
  }
    
  &-title {
    color: $default-shade;
    font-size: 28px;
    font-family: $serif;
    font-weight: 700;
    margin: 16px 0;
    line-height: 1.5;
  }

  p {
    font-size: 16px;
    line-height: 1.75;  
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }
}
