.post {
  padding: 3rem 0;

  &:not(:last-child) {
    border-bottom: .5px solid $grey-2;
  }

  &-time {
    color: $default-tint;
    font-family: $sans-font;
    font-weight: 700;
    letter-spacing: .5px;
  }

  &-title {
    color: $default-shade;
    font-size: 2.7rem;
    margin: 0 0 .8rem;

    a {
      color: $default-shade;
      font-size: 2.7rem;
      line-height: normal;
    }
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }
}
