section.explanation {
    h1.intro {
        font-family: $source, $serif;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.17;
        margin: 0;
    }
    
    h2.intro {
        font-size: 28px;
        font-weight: 400;
        font-family: $serif;
        line-height: 1.4;
        word-wrap: normal;
        margin: 10px 0 0 0;
    }
    
    p.body {
        font-size: 16px;
        color: $grey-0;
        line-height: 1.75;
        margin: 20px 0 64px 0;
    }
    
    .intro-link {
        display: inline-block;
    }
    
    .intro-link:hover {
        cursor: pointer;
        color: $ridi-blue;
    }
    
    .underline,
    .underline-mask {
        width: inherit;
        height: 4px;
        background-color: $grey-2;
        margin-top: -4px;
    }
    
    .underline-mask {   
        animation-name: border-animation-out;
        animation-duration: .2s;
        animation-fill-mode: forwards;
    }
    
//    Animation
    
    @keyframes border-animation-in {
        from {
            transform: scaleX(0);
            transform-origin:  0% 0%;
            background-color: $ridi-blue;
        }
        to {
            transform: scaleX(1);
            background-color: $ridi-blue;
            transform-origin:  0% 0%;
        }
    }
    
    @keyframes border-animation-out {
        0% {
            transform: scaleX(1);
            background-color: $ridi-blue;
            transform-origin:  0% 0%;
        }
        
        100% {
            transform: scaleX(0);
            transform-origin:  0% 0%;
            background-color: $ridi-blue; 
        }
        
    }
    
    
    .intro-link:hover
    .underline-mask {
        animation-name: border-animation-in;
        animation-duration: .3s;
        animation-fill-mode: forwards;
    }
    
    .transition {
        transition: all 0.2s ease-in-out;
    }
    
//    .underline {
//        display: inline-block;
//        border-bottom: 4px solid $grey-2;
//        cursor: pointer;
//    }

//    .underline:after {
//        display: block;
//        content: '';
//        border-bottom: 4px solid #1f8ce6;
//        transform: scaleX(0);
//        transition: transform 300ms ease-in-out;
//    }
    
//    .underline:hover:after {
//        transform: scaleX(1);
//    }
//    
//    .fromLeft:after{
//        transform-origin:  0% 50%;
//    }
}

p.second_label {
    margin: 60px 0 20px 0;
    font-family: $source;
    font-size: 18px;
    font-weight: 600;
    color: $default-tint;
}

.resume {
    .workplace {
        width: 100%;
        padding: 30px 0;
        border-bottom: 1px solid $grey-2;
    
        .workplace_name {
            font-family: $serif;
            font-size: 20px;
            font-weight: 700;
            width: 50%;
            float: left;
            
            @media (max-width: $break-small) {
                float: none;
                width: 100%;
            }
            
        }

        .work_info {
            display: inline-block;
            
            p.work_date {
                color: $default-tint;
                font-size: 16px;
                font-family: $source;
                font-weight: 400;
            }
        }
        
        svg {
            width: 24px;
            float: right;
        }
    }
    
    .workplace:first-child {
        border-top: 1px solid $grey-2;
    }
}

section.skill {
    padding-bottom: 72px;
    
    li.skill_name {
        font-family: $source;
        padding: 4px 14px;
        border-radius: 100px;
        border: solid 1px $grey-2;
        font-size: 16px;
        margin: 0 8px 14px 0;
    }
}