section.explanation {
    h1.intro {
        font-family: $source, $serif;
        font-size: 38px;
        font-weight: bold;
        line-height: 1.17;
        margin: 0;
    }
    
    h2.intro {
        font-size: 30px;
        font-weight: 400;
        font-family: $serif;
        line-height: 1.4;
        word-wrap: normal;
        margin: 20px 0 0 0;
    }
    
    p.body {
        font-size: 16px;
        color: $grey-0;
        line-height: 1.75;
        margin: 20px 0 64px 0;
    }
    
    .intro-link {
        display: inline-block;
    }
    
    .intro-link:hover
    a {
        cursor: pointer;
        color: $ridi-blue;
    }
    
    .underline,
    .underline-mask {
        width: inherit;
        height: 4px;
        background-color: $grey-2;
        margin-top: -4px;
    }
    
    .underline-mask {
        content: '';
        background-color: $ridi-blue;
        transform: scaleX(0);
//        transform-origin: 0% 0%;
        transition: transform 300ms ease-in-out;
    }
    
    .intro-link:hover
    .underline-mask {
        transform: scaleX(1);
//        transform-origin: 0% 0%;
    }
    
}