//initialize

p, h2 {
    margin: 0;
}

// color 정의
$default-color: #10171f;
$default-shade: #10171f;
$default-tint: #8898aa;
$grey-0: #333e4c;
$grey-1: #90949a;
$grey-2: #D8E0E7;
$grey-2-70: rgba(216, 224, 231, .7);
$grey-3: #f6f9fc;
$white: #fff;
$blue: #4a9ae1;
$shadow-color: rgba(0, 0, 0, .2);
$ridi-blue: #1f8ce6;

// media
$break-small: 500px;

// font-family 정의
$serif: 'APPLE SD Gothic NEO', 'Spoqa Han Sans', Sans-serif;
$source: 'Source Sans Pro', sans-serif;

$monospaced-font: Menlo, Monaco, monospace;
$code-color: #bf616a;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
