---
layout: default
---
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>
  <div class="catalogue">
    {% for post in site.posts %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
        <div>
          <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
          <h1 class="catalogue-title">{{ post.title }}</h1>
          <div class="catalogue-line"></div>

          <p>
            {{ post.content | strip_html | truncatewords: 30 }} [ <span class="dummy-anchor">Read more</span> ]
          </p>

        </div>
      </a>
    {% endfor %}
  </div>
</div>