<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <h4 class="nav-subtitle">{{ site.subtitle }}</h4>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Posts</a></li>
          <li><a href="#">Updates</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> Chester How. All rights reserved.
      </span>
    </footer>
  </body>
</html>
