<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container">
      <header>
        <a href="{{ site.baseurl }}/" title="Home">
            <h2>{{ site.title }}</h2>
        </a>
        <h4>[ {{ site.subtitle }} ]</h4>
      </header>

      <main>
        {{ content }}
      </main>

      <footer>
        <span>
          &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> Chester How. All rights reserved.
        </span>
      </footer>
    </div>

  </body>
</html>
