---
layout: default
---

<h1 class="post-title">{{ page.title }}</h1>
<div class="post-line"></div>
<p class="post-info">A Man who travels the world eating noodles</p>
<div class="social-links"> 
  <a class="link" data-title="facebook.com/myfacebook" href="http://facebook.com/myfacebook" target="_blank"> 
    <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg> 
  </a> 
  <a class="link" data-title="twitter.com/mytwitter" href="http://twitter.com/mytwitter" target="_blank"> 
    <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
  </a>
  <a class="link" data-title="github.com/mygithub" href="https://github.com/mygithub" target="_blank"> 
    <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg> 
  </a> 
  <a class="link" data-title="medium.com/@medium" href="https://medium.com/@medium" target="_blank"> 
    <svg class="icon icon-medium"><use xlink:href="#icon-medium"></use></svg> 
  </a> 
  <a class="link" data-title="myemail@gmail.com" href="mailto:myemail@gmail.com"> 
    <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg> 
  </a> 
</div>
