---
layout: default
---

<img class="profile-img" src="https://media-exp1.licdn.com/dms/image/C5103AQH1nk56uv8dOg/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=LWwasWFhfKNCQwR0mbSlh106TQ20nJW9HPJyiXDQMXQ"></img>
<h1 class="post-title">{{ page.title }}</h1>
<div class="post-line"></div>
<p class="post-info">A Man who travels the world eating noodles</p>
<div class="social-links"> 
  <a class="link" data-title="facebook.com/myfacebook" href="http://facebook.com/myfacebook" target="_blank"> 
    <i class="fab fa-facebook-square"></i>
  </a> 
  <a class="link" data-title="twitter.com/mytwitter" href="http://twitter.com/mytwitter" target="_blank"> 
    <i class="fab fa-twitter-square"></i>
  </a>
  <a class="link" data-title="github.com/mygithub" href="https://github.com/mygithub" target="_blank"> 
    <i class="fab fa-github-square"></i>
  </a> 
  <a class="link" data-title="medium.com/@medium" href="https://medium.com/@medium" target="_blank"> 
    <i class="fab fa-medium"></i> 
  </a> 
  <a class="link" data-title="myemail@gmail.com" href="mailto:myemail@gmail.com"> 
    <i class="fab fa-google-plus-square"></i>
  </a> 
</div>
<!-- <pre>
  site: {{ site | jsonify | escape }}
  page: {{ page | jsonify | escape }}
  layout: {{ layout | jsonify | escape }}
  content: {{ content | jsonify | escape }}
  paginator: {{ paginator | jsonify | escape }}
</pre> -->