---
layout: default
---

<div class="post">
    <div class="post-info">
        <div class="post-type-tag">
            {% if page.draft == true %}
            <div class="catalogue-tag">
                Coming Soon
            </div>
            {% endif %}
            <div class="post-type">
                {{ page.type }}
            </div>
        </div>
        <h1 class="post-title">
            {{ page.title }}
        </h1>
        <h2 class="post-subtitle">
            {{ page.subtitle }}
        </h2>
  </div>
    {{ content }}

</div>